.screen__header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  padding-top: 40px;
  align-items: center;
  margin-bottom: 15px;
}

.screen__header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen__header__icons span {
  margin-left: 22px;
}

.comment i {
  font-size: 25px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotatez(360deg);
  }
}

.screen__header__icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}
